.banner {
	background-size: cover;
	background-color: #e2002b;
	min-height: 100vh;
}
.banner,
.content {
	width: 50%;
	min-height: 100vh;
}
.content {
	flex: 0 0 55%;
	margin-top: 20px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content h1 {
	font-size: 28px;
	font-weight: 700;
	text-shadow: none;
}

.form {
	min-height: 75px;
	width: 60%;
}
.fromGroup {
	position: relative;
	border-bottom: 1px solid #333;
	margin-top: 30px;
	line-height: 1.125;
	letter-spacing: normal;
}
.fromGroup input {
	outline: none;
	width: 100%;
	padding: 10px 0;
}
.fromGroup input:valid ~ span,
.fromGroup input:focus ~ span {
	transform: translateY(-20px);
	font-size: 10px;
}
.fromGroup span {
	color: currentColor;
	position: absolute;
	left: 0;
	font-size: 15px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: block;
	pointer-events: none;
	top: 11px;
	transition: 0.3s;
}
.facebook {
	width: 100%;
	background-color: #3b5998;
	cursor: pointer;
	width: 100%;
	text-align: center;
	padding: 10px;
	border-radius: 25px;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 1px 5px 0 rgba(0, 0, 0, 0.12);
	color: white;
	line-height: 20px;
	font-size: 15px;
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
}
.iconFB {
	background: url(https://kfcvn-static.cognizantorderserv.com/images/web/sprite.png?v=5.0)
		no-repeat;
	width: 25px;
	display: inline-block;
	height: 25px;
	vertical-align: middle;
	background-size: 234px;
	background-position: -86px -5px;
	position: absolute;
	left: 18%;
	top: 23%;
	pointer-events: none;
}
.register {
	font-size: 15px;
	display: block;
	padding: 20px;
}
.register a {
	font-weight: 600;
	text-decoration: underline;
}
.register a:hover {
	text-decoration: none;
}
