.wrapper {
	margin: 5px;
	overflow: hidden;
	border-radius: 0.35714286rem;
	justify-content: center;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.wrapper a {
	position: relative;
	height: 100%;
}

.wrapper figure {
	background: #fff;
	overflow: hidden;
}
.wrapper a img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 0.7s ease-in-out;
	transition: 0.7s ease-in-out;
}
.wrapper:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.infoItem {
	/* display: block; */
	padding: 10px;
	left: 0;
	z-index: -1;
	width: 100%;
	min-height: 200px;
	height: 150px;
}
.detail_title {
	justify-content: space-between;
}
.detail_title span {
	font-size: 18px;
	font-weight: 600;
	text-transform: capitalize;
}
.infoItem > span {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	text-transform: capitalize;
	color: #999;
	text-align: justify;
}
