.span {
	color: white;
	font-size: 13px;
	font-weight: 700;
	text-transform: capitalize;
	margin: 10px;
}
.toHome {
	background-position: -143px -771px;
	width: 27px;
	height: 23px;
	margin-right: 5px;
}
.pickUp {
	background-position: -190px -771px;
	width: 27px;
	height: 25px;
	margin-right: 5px;
}
.local {
	position: relative;
}
.local::before {
	position: absolute;
	content: '';
	display: inline-block;
	vertical-align: middle;
	background: url(https://kfcvn-static.cognizantorderserv.com/images/web/sprite.png?v=5.0)
		no-repeat -48px -166px;
	width: 22px;
	height: 16px;
	left: -17px;
	bottom: 3px;
}
.local span {
	font-size: 14px;
	font-weight: 600;
}
